* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: url("../img/bg.jpg") center 0 / cover;
  font-size: 24px;
  color: #273d46;
}
.container {
  width: 842px;
  margin: 125px auto 104px;
  overflow: hidden;
}
.suptitle {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.6;
}
.title {
  font-size: 36px;
  text-align: center;
  line-height: 50px;
}
.img {
  border: 10px solid #fff;
  margin: 64px 0 94px;
  box-shadow: 15px 15px 65px rgba(15, 16, 16, 0.15);
  max-width: 842px;
  max-height: 561px;
}
.text {
  font-size: 24px;
  line-height: 40px;
  margin: 0 62px 58px 44px;
}
.last {
  margin-bottom: 62px;
}
.list {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 36px;
}
.list > li {
  display: block;
  padding-left: 36px;
  background: url("../img/list_03.png") left 7px no-repeat;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
  color: #80b7b3;
}
.through {
  text-decoration: line-through;
}

.btn {
  width: 199px;
  height: 44px;
  background-color: #80b7b3;
  border-radius: 25px;
  box-shadow: 6px 6px 40px rgba(128, 183, 179, 0.54);
}
.btn__link {
  display: block;
  background: url("../img/link_03.png") 151px center no-repeat;
}
.btn__title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 17px 59px 17px 30px;
  line-height: 40px;
  word-spacing: 9px;
  width: 110px;
  height: 10px;
  letter-spacing: 2px;
  white-space: nowrap;
}
